<!-- Contact -->
<section id="contact" class="py-5">
  <div class="container text-center">
    <h2 class="section-title">Contact</h2>
    <p>
      <i class="bi bi-envelope me-2"></i>Email: <a
        href="mailto:bsshreesha0511@gmail.com">bsshreesha0511@gmail.com</a
      >
    </p>
    <p>
      <i class="bi bi-linkedin me-2"></i>LinkedIn: <a
        href="https://linkedin.com/in/b-s-shreesha-192946255"
        target="_blank">LinkedIn</a
      >
    </p>
    <p>
      <i class="bi bi-github me-2"></i>GitHub: <a
        href="https://github.com/bsshreesha"
        target="_blank">GitHub</a
      >
    </p>
  </div>
</section>
