<section id="experience" class="py-5">
  <div class="container" data-aos="fade-right">
    <div class="card border-2 border-primary shadow-lg">
      <div
        class="card-header text-primary text-center fw-bold border-primary border-bottom"
      >
        <h2 class="section-title mb-0">
          <i class="bi bi-briefcase-fill me-2"></i>Experience
        </h2>
      </div>
      <div class="card-body bg-light-subtle">
        <ul class="list-unstyled list-style-icon">
          <li>
            <i class="bi bi-gear-fill text-primary"></i> Kalpin Tech: Drone integration
            & testing | Year: 2022 - 2023
          </li>
          <li>
            <i class="bi bi-cpu-fill text-success"></i> Center for Incubation, Innovation,
            Research and Consultancy: AI Research on Cancer & Paddy Doctor | Year:
            2024 - 2025
          </li>
          <li>
            <i class="bi bi-hospital text-danger"></i> Center for Scientific and
            Industrial Research - Fourth Paradigm Institute: AI-powered healthcare
            systems | Year: 2024 - 2025
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
