<!-- Skills -->
<section id="skills" class="py-5">
  <div class="container text-center">
    <h2 class="section-title">Skills</h2>
    <span class="badge bg-primary skill-badge">Python</span>
    <span class="badge bg-success skill-badge">Deep Learning</span>
    <span class="badge bg-secondary skill-badge">Mathematical Programming</span>
    <span class="badge bg-warning text-dark skill-badge"
      >Frontend Development</span
    >
    <span class="badge bg-info text-dark skill-badge">Data Science</span>
    <span class="badge bg-dark skill-badge">MySQL</span>
    <span class="badge bg-danger skill-badge">Linux</span>
    <span class="badge bg-success skill-badge">Windows</span>
    <span class="badge bg-primary skill-badge">Bootstrap</span>
  </div>
</section>
