<section id="teaching" class="py-5">
  <div class="container" data-aos="fade-up">
    <div class="card border-2 border-warning shadow-lg">
      <div
        class="card-header text-warning text-center fw-bold border-warning border-bottom"
      >
        <h2 class="section-title mb-0">
          <i class="bi bi-person-video3 me-2"></i>Teaching
        </h2>
      </div>
      <div class="card-body bg-light-subtle">
        <ul class="list-unstyled list-style-icon">
          <li>
            <i class="bi bi-filetype-css"></i> 12 Days: Introduction to Web Development
            for First Year Engineering Students
          </li>
          <li>
            <i class="bi bi-code-slash"></i> 24 Days: Python for Engineering Mathematics
          </li>
          <li>
            <i class="bi bi-controller"></i> 3 Days: Game Dev Tools, OOP & Audio
            Tools
          </li>
          <li>
            <i class="bi bi-bar-chart"></i> 16 Hours: Matplotlib - 6th Sem Students
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
